.postContainer{
    background-color: rgb(230, 230, 230);
    width: 582px;
}

.likeList{
    background-color: black;
    color: white;
}

.likeNumber{
    cursor: pointer;
}

.gif{
    max-width: 500px;
}