.post{
    //box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: 18px 18px 0px 0px;
}

.postContainer{
    background-color: #bdbdbd21;
    width: 593px;
    border-radius: 18px 18px 0px 0px;
    @media (max-width: 650px) {
        width: 100%;
    }
}

.likeList{
    background-color: $accentCyan;
    color: black;
    font-weight: bold;
    z-index: 100;
    right: -21px;
    top: 32px;
    padding: 10px 16px;
    border-radius: 10px;

}

.likeNumber{
    cursor: pointer;
}

.gif{
    max-width: 500px;
    @media (max-width: 650px) {
        width: 100%;
    }
}

.postLikeBtn{
    background-color: $hotPink;
    color: white;
    border: none;
    border-radius: 2em;
    padding: 0px 5px;
}

.fa-edit{
    color: $cornFlower;
}

.postEditIcon{
    right: 11px;
}

.modifyImg{
    width: 400px;
    @media (max-width: 650px) {
        width: 100%;
    }
}