.logo {
  width: 250px;
}
@media (max-width: 600px) {
  .logo {
    width: 150px;
  }
}

.navbar {
  border-bottom: solid 3px #36EEE0;
}
.navbar .nav-item:hover {
  border-bottom: 2px solid #4C5270;
}
.navbar .nav-link {
  color: #4C5270;
  font-weight: bold;
}
.navbar .nav-link:hover {
  color: #4C5270;
}

.fa-bars {
  color: #4C5270;
  font-size: 1.5em;
  position: relative;
  top: 6px;
}

body {
  margin-left: 1em;
}

input {
  display: block;
  margin-bottom: 1em;
}

.authContainer {
  height: 100vh;
}
@media (max-width: 650px) {
  .authContainer .registrationWrapper {
    width: 325px;
  }
  .authContainer .registrationWrapper .authLogo {
    width: 325px;
  }
}

.errorMessage {
  color: red;
  max-width: 325px;
}

.allCommentsContainer {
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  width: 100%;
}

.editInput {
  top: 9px;
  left: 10px;
  padding-top: 18px;
}

.deleteAndEditContainer {
  z-index: 5;
  right: -92px;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}

.numberOfCommentLikes {
  cursor: pointer;
}

.addComment {
  height: 39px;
  width: 75%;
}
@media (max-width: 650px) {
  .addComment {
    width: 100%;
  }
}

.commentBtn {
  width: 500px;
  display: inline-block;
  padding: 0.5em 1.5em;
  background-color: #4C5270;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  border: none;
}
@media (max-width: 650px) {
  .commentBtn {
    width: 100%;
  }
}

.commentSection {
  max-height: 400px;
  overflow: auto;
}

.commentContainer {
  margin-bottom: 30px;
}
.commentContainer .comment {
  background-color: #BCECE0;
  border-radius: 15px;
  padding: 8px 20px 8px 12px;
  max-width: 500px;
  margin-top: 9px;
  margin-left: 10px;
}
.commentContainer .cancelEdit {
  background: transparent;
  border: none;
  position: relative;
  right: 7px;
  bottom: -7px;
  color: red;
  font-size: 18px;
  padding: 0px;
}

.editCommentBtn {
  position: relative;
  right: 66px;
  bottom: 5px;
}
.editCommentBtn .fa-edit {
  cursor: pointer;
  color: #4C5270;
}
.editCommentBtn .updateDeleteComment {
  background-color: white;
  width: 200px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 0px;
}
.editCommentBtn .updateDeleteComment:hover {
  background-color: #d6d6d6;
}

.submitCommentBtn {
  display: inline-block;
  padding: 0.5em 1.5em;
  background-color: #4C5270;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  border: none;
  width: 25%;
}
@media (max-width: 650px) {
  .submitCommentBtn {
    display: none;
  }
}

.likeButton {
  background-color: #F652A0;
  color: white;
  border: none;
  border-radius: 2em;
  padding: 0px 5px;
}

.likeContainer {
  position: relative;
  top: 25px;
  right: 19px;
  align-self: flex-end;
  height: 39px;
}

.commentLikers {
  position: absolute;
  top: 31px;
  z-index: 100;
  background-color: #36EEE0;
  font-weight: bold;
  z-index: 100;
  padding: 10px 16px;
  border-radius: 10px;
  min-width: 100px;
}

.makeComment {
  width: 100%;
}

.post {
  border-radius: 18px 18px 0px 0px;
  width: 501px;
}
@media (max-width: 650px) {
  .post {
    width: 100%;
  }
}

.postContainer {
  background-color: #bdbdbd21;
  width: 501px;
  border-radius: 18px 18px 0px 0px;
}
@media (max-width: 650px) {
  .postContainer {
    width: 100%;
  }
}

.likeList {
  background-color: #36EEE0;
  color: black;
  font-weight: bold;
  z-index: 100;
  right: -21px;
  top: 32px;
  padding: 10px 16px;
  border-radius: 10px;
}

.likeNumber {
  cursor: pointer;
}

.gif {
  width: 350px;
}
@media (max-width: 650px) {
  .gif {
    width: 95%;
  }
}

.postLikeBtn {
  background-color: #F652A0;
  color: white;
  border: none;
  border-radius: 2em;
  padding: 0px 5px;
}

.fa-edit {
  color: #4C5270;
}

.postEditIcon {
  right: 11px;
}

.modifyImg {
  width: 400px;
}
@media (max-width: 650px) {
  .modifyImg {
    width: 100%;
  }
}

.editBtn {
  display: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.buttonOne {
  display: inline-block;
  padding: 0.5em 1.5em;
  background-color: #4C5270;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  transition: transform 200ms ease-in-out;
  border: none;
}/*# sourceMappingURL=styles.css.map */