.allCommentsContainer{
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
    width: 100%;
}

.editInput{
    top: 9px;
    left: 10px;
    padding-top: 18px;
}

.deleteAndEditContainer{
    z-index: 5;
    right: -92px;
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}

.numberOfCommentLikes{
    cursor: pointer;
}

.addComment{
    height: 39px;
    width: 75%;

    @media (max-width: 650px) {
        width: 100%;
    }
}

.commentBtn{
    width: 592px;
    display: inline-block;
    padding: .5em 1.5em;
    background-color: $cornFlower;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
   // transition: transform 200ms ease-in-out;
    border: none;
    @media (max-width: 650px) {
        width: 100%;
    }
}


.commentContainer{
    margin-bottom: 30px;

    .comment{
        background-color: $tiffanyBlue;
        border-radius: 15px;
        padding: 8px 20px 8px 12px;
        max-width: 500px;
        margin-top: 9px;
        margin-left: 10px;
    }

    .cancelEdit{
        background: transparent;
        border: none;
        position: relative;
        right: 7px;
        bottom: -7px;
        color: red;
        font-size: 18px;
        padding: 0px;
    }
         
}



.editCommentBtn{
    position: relative;
    right: 66px;
    bottom: 5px;

    .fa-edit{
        cursor: pointer;
        color: $cornFlower
    }

    .updateDeleteComment{
        background-color: white;
        width: 200px;
        border: none;
        font-weight: bold;
        cursor: pointer;
        padding: 5px 0px;
       

        &:hover{
            background-color: rgb(214, 214, 214);
        }
    }
}

.submitCommentBtn{
    //height: 35px;
    display: inline-block;
    padding: .5em 1.5em;
    background-color: $cornFlower;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
   // transition: transform 200ms ease-in-out;
    border: none;
    width: 25%;

    @media (max-width: 650px) {
        display: none;
    }
    }

.likeButton{
    background-color: $hotPink;
    color: white;
    border: none;
    border-radius: 2em;
    padding: 0px 5px;
  
}

.likeContainer{
   position: relative;
   top: 25px;
   right: 19px;
   align-self: flex-end;
   height: 39px;
}

.commentLikers{
    position: absolute;
    top: 31px;
    z-index: 100;
    background-color: $accentCyan;
    font-weight: bold;
    z-index: 100;
    padding: 10px 16px;
    border-radius: 10px;
    min-width: 100px;
}

.makeComment{
    width: 100%;
}
