.deleteAndEditContainer{
    z-index: 5;
    right: -92px;
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}

.numberOfCommentLikes{
    cursor: pointer;
}

.addComment{
    height: 35px;
}

.commentBtn{
    width: 100%;
}

.commentContainer{
    margin-bottom: 30px;

    .comment{
        background-color: rgb(194, 194, 194);
        border-radius: 15px;
        padding: 8px 20px 8px 12px;
        max-width: 500px;
    }
         
}



.editCommentBtn{
    position: relative;
    right: 66px;
    bottom: 13px;

    .fa-edit{
        cursor: pointer;
    }

    .updateDeleteComment{
        background-color: white;
        width: 200px;
        border: none;
        font-weight: bold;
        cursor: pointer;
        padding: 5px 0px;
       

        &:hover{
            background-color: rgb(214, 214, 214);
        }
    }
}

.submitCommentBtn{
    height: 35px;
}

.likeButton{
    background:blue;
    color: white;
    border: none;
    border-radius: 2em;
    padding: 0px 5px;
  
}

.likeContainer{
   position: relative;
   top: 25px;
   right: 19px;
   align-self: flex-end;
   height: 39px;
}
