.logo{
    width: 250px;

    @media (max-width: 600px) {
        width: 150px;
    }
}

.navbar{
    border-bottom: solid 3px $accentCyan;

    .nav-item{
        
        &:hover{
            border-bottom: 2px solid $cornFlower;
        }
    }
    .nav-link{
        color: $cornFlower;
        font-weight: bold;

        &:hover{
            color: $cornFlower;
        }
    }
}

.fa-bars{
    color: $cornFlower;
    font-size: 1.5em;
}